! font
URxvt.font :xft:Hack:style=Regular:size=12
URxvt.boldfont :xft:Hack:style=Regular:size=12

!URxvt.font :xft:undefined,undefined-medium:style=medium, Regular:size=12
!URxvt.boldfont :xft:Hack:style=Regular:size=12

! Disable scrollbar
URxvt.scrollBar: false

! plugins
URxvt.perl-ext-common: keyboard-select,resize-font

! plugin-keybinds
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

! Usage: put the following lines in your .Xdefaults/.Xresources:
!   URxvt.perl-ext-common: ...,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
! The following line overwrites the default Meta-s binding and allows to
! activate keyboard-select directly in backward search mode:
URxvt.keysym.M-s: perl:keyboard-select:search
!
! Use Meta-Escape to activate selection mode, then use the following keys:
!   h/j/k/l:    Move cursor left/down/up/right (also with arrow keys)
!   g/G/0/^/$/H/M/L/f/F/;/,/w/W/b/B/e/E: More vi-like cursor movement keys
!   '/'/?:      Start forward/backward search
!   n/N:        Repeat last search, N: in reverse direction
!   Ctrl-f/b:   Scroll down/up one screen
!   Ctrl-d/u:   Scroll down/up half a screen
!   v/V/Ctrl-v: Toggle normal/linewise/blockwise selection
!   y/Return:   Copy selection to primary buffer, Return: quit afterwards
!   Y:          Copy selected lines to primary buffer or cursor line and quit
!   q/Escape:   Quit keyboard selection mode

! Padding:
URxvt.internalBorder: 13

! COLORS:

! hard contrast: *background: #1d2021

!*background: #282828

*depth: 32
*background: rgba:0040/0040/0040/afff

! Fake transparency
!*background: #282828
!*transparent: true
!*shading: 25

! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
